@charset "utf-8";


/*헤더*/
#header{}

.hTop{
	height:40px;
	background:url(../images/common/bg_top.gif);
}

.hTop h1{
	width:120px;
}
.hTop h1 a{}
.hTop h1 img{
	width:100%;
	vertical-align: top;
	padding-top:10px;
	padding-left: 10px;
}

.panel{
	width:40px;
	height:40px;
	background:#10509d;
	position: absolute;
	right:0;
	top: 0;
	text-indent: -9999px;
}
.panel a{
	display: block;
	padding:12px 0;
}
.panel a::before,.panel span,.panel a::after{
	content: "";
	display: block;
	width:20px;
	height:2px;
	background:#fff;
	margin:0 auto;
}
.panel span{
	margin:5px auto;
}

.gnb{
	height:29px;
	background:url(../images/common/bg_gnb.gif);
	font-size: 11px;
}
.gnb li{
	width:20%;
	float: left;
	text-align: center;
	line-height: 29px;
	border-right:1px solid #363636;
	border-left:1px solid #595959;
	box-sizing: border-box;
}
.gnb li:first-child{
	border-left: 0;
}
.gnb li:last-child{
	border-right:0;
}
.gnb li a{
	color:#c5c5c5;
}

/*footer*/
#footer{
	background:url(../images/common/bg_footer_new.gif);
	color:#fff;
	font-size:10px;
	letter-spacing: -1px;
	text-align:center;
	padding:10px 0;
}
#footer p{}

.fBtn{}
.fBtn div{
	display: inline-block;
	border:1px solid #fff;
	border-radius: 3px;
	margin:0 5px;
	margin-top:10px;
}
.fBtn a{
	color:#fff;
	display: block;
	padding: 5px 10px;
}